<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | Análisis de Natación Olímpica</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header class="site-header">
        <div class="container">
            <h1 class="site-title">Análisis de Natación Olímpica</h1>
            <nav class="site-nav">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/nadadores-por-pais">Nadadores por País</a></li>
                    <li><a href="/top-paises">Top Países</a></li>
                    <li><a href="/top-atletas">Top Atletas</a></li>
                    <li><a href="/progresion-tiempos">Progresión de Tiempos</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="site-main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="footer-content">
                <h2>Análisis de Nadadores Olímpicos para Nike</h2>
                <p><strong>Autor:</strong> <a href="https://github.com/rayo-alcantar/">Ángel De Jesús Alcántar Garza</a></p>
                <p><strong>Universidad:</strong> Universidad Autónoma de Aguascalientes</p>
                <p><strong>Asesora:</strong> Mtra. Dra. Lizeth Itziguery Solano Romo & Sergio Iván Galvis motoa</p>
                <p><strong>Centro:</strong> Centro de Ciencias Básicas</p>
                <p><strong>Departamento:</strong> Departamento de Sistemas de Información</p>
                <p><strong>Académico:</strong> Academia de Sistemas de Información y Computación Básica</p>
                <p><strong>Materia:</strong>Visualización e interpretación de datos</p>
                <p><strong>Carrera:</strong> Informática y Tecnologías Computacionales</p>
                <p><strong>Fecha:</strong> 29/11/2024</p>
                <p><strong>Proyecto:</strong> Proyecto Final</p>
                
                <p>&copy; 2024 - Todos los derechos reservados.</p>
            </div>
        </div>
    </footer>
</body>
</html>
